name: Backend CI Pipeline

on:
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./backend

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
      
      - name: Install uv
        uses: astral-sh/setup-uv@v6
      
      - name: Install the project
        run: uv sync --locked --all-extras --dev
      
      - name: Run tests
        run: uv run pytest app/tests
